{{ if .Get "src" }}
  {{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
  <figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
    {{- if .Get "href" -}}
      <a href="{{ .Get "href" }}">
    {{- end -}}
    <img src="{{ $image.RelPermalink }}"
      {{- if or (.Get "alt") (.Get "caption") }}
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
      {{- end -}}
      width="{{ $image.Width }}"
      height="{{ $image.Height }}"
      loading="lazy"
      decoding="async"
      fetchpriority="low"
      style="max-width:{{ div $image.Width 2 }}px; height:auto;"
    />
    {{- if .Get "href" }}</a>{{ end -}}
    {{- if .Get "caption" -}}
      <figcaption>
        {{- .Get "caption" | markdownify -}}
      </figcaption>
    {{- end }}
  </figure>
{{ end }}
