:root {
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 246, 250, 251;
  --color-neutral-100: 232, 241, 244;
  --color-neutral-200: 207, 222, 229;
  --color-neutral-300: 175, 195, 207;
  --color-neutral-400: 130, 154, 170;
  --color-neutral-500: 87, 109, 128;
  --color-neutral-600: 66, 83, 101;
  --color-neutral-700: 44, 58, 75;
  --color-neutral-800: 26, 36, 53;
  --color-neutral-900: 14, 21, 34;
  --color-neutral-950: 8, 13, 23;
  --color-primary-50: 240, 248, 255;
  --color-primary-100: 220, 239, 255;
  --color-primary-200: 190, 225, 255;
  --color-primary-300: 151, 207, 255;
  --color-primary-400: 112, 184, 245;
  --color-primary-500: 84, 158, 226;
  --color-primary-600: 60, 129, 199;
  --color-primary-700: 44, 101, 165;
  --color-primary-800: 32, 76, 128;
  --color-primary-900: 20, 52, 91;
  --color-primary-950: 8, 25, 49;
  --color-secondary-50: 238, 247, 255;
  --color-secondary-100: 216, 235, 252;
  --color-secondary-200: 181, 214, 246;
  --color-secondary-300: 139, 186, 230;
  --color-secondary-400: 98, 151, 207;
  --color-secondary-500: 70, 116, 177;
  --color-secondary-600: 49, 84, 139;
  --color-secondary-700: 34, 60, 103;
  --color-secondary-800: 22, 41, 74;
  --color-secondary-900: 13, 26, 50;
  --color-secondary-950: 6, 14, 29;
}
