:root {
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 249, 251, 255;
  --color-neutral-100: 239, 243, 255;
  --color-neutral-200: 220, 229, 250;
  --color-neutral-300: 199, 212, 242;
  --color-neutral-400: 166, 173, 200;
  --color-neutral-500: 123, 133, 165;
  --color-neutral-600: 90, 98, 124;
  --color-neutral-700: 66, 72, 95;
  --color-neutral-800: 44, 48, 68;
  --color-neutral-900: 30, 30, 46;
  --color-neutral-950: 17, 17, 27;
  --color-primary-50: 248, 250, 255;
  --color-primary-100: 235, 241, 255;
  --color-primary-200: 215, 233, 244;
  --color-primary-300: 205, 214, 244;
  --color-primary-400: 176, 196, 239;
  --color-primary-500: 147, 197, 253;
  --color-primary-600: 96, 165, 250;
  --color-primary-700: 83, 128, 214;
  --color-primary-800: 67, 93, 160;
  --color-primary-900: 43, 55, 98;
  --color-primary-950: 27, 32, 58;
  --color-secondary-50: 250, 251, 255;
  --color-secondary-100: 242, 245, 255;
  --color-secondary-200: 226, 233, 252;
  --color-secondary-300: 205, 214, 244;
  --color-secondary-400: 176, 196, 239;
  --color-secondary-500: 142, 164, 219;
  --color-secondary-600: 113, 133, 190;
  --color-secondary-700: 86, 104, 154;
  --color-secondary-800: 62, 74, 113;
  --color-secondary-900: 39, 47, 75;
  --color-secondary-950: 20, 25, 45;
}
