{{ $alg := .Site.Params.fingerprintAlgorithm | default "sha512" }}
{{ $zoomCSS := resources.Get "lib/zoom/style.css" | resources.Fingerprint $alg }}
{{ $zoomJS := resources.Get "lib/zoom/zoom.min.umd.js" | resources.Fingerprint $alg }}
<script>
  (() => {
    const targets = document.querySelectorAll(
      "main article .article-content img:not(.nozoom), main article .prose figure img:not(.nozoom)"
    );
    if (!targets.length) {
      return;
    }

    const css = document.createElement("link");
    css.rel = "stylesheet";
    css.href = "{{ $zoomCSS.RelPermalink }}";
    css.integrity = "{{ $zoomCSS.Data.Integrity }}";
    css.crossOrigin = "anonymous";
    document.head.appendChild(css);

    const script = document.createElement("script");
    script.src = "{{ $zoomJS.RelPermalink }}";
    script.integrity = "{{ $zoomJS.Data.Integrity }}";
    script.crossOrigin = "anonymous";
    script.onload = () => {
      window.mediumZoom?.(targets, {
        margin: 24,
        background: "rgba(0,0,0,0.5)",
        scrollOffset: 0,
      });
    };
    document.head.appendChild(script);
  })();
</script>
